{%- extends 'null.tpl' -%}

{%- block header -%}
#!/usr/bin/env python
# vim: foldmethod=marker
{% endblock header %}

{%- block input -%}
{{ cell.source | myipython2python }}
{%- endblock input -%}

{%- block markdowncell scoped -%}
{{ cell.source | vim_comment_lines }}
{%- endblock markdowncell -%}

{%- block footer %}
{{ footerFunc() }}
{%- endblock footer-%}
